.dropdown-menu {
    background-color: #343A40;
}

.dropdown-menu a {
    color: white;
}
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

.content-section a {
    color: black;
}
