<!DOCTYPE html>

<html lang="no">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Henrik Andreas</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />

    </head>

    <body>
        <nav>
            <p>Raspi</p>
            <ul>
                <li><a href="{{  url_for('home') }}">Home</a></li>
                <li><a href="#">Playground</a>
                    <ul>
                      <li><a href="#">Lamp</a></li>
                      <li><a href="#">Buzzer</a></li>
                      <li><a href="#">Camera</a></li>
                    </ul>
                </li>
                <li><a href="#">Information</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            
            <h1><a href=" {{ url_for('login') }}">Login</a></h1>
        </nav>
    </body>

</html> 